<% include partials/head.ejs %>

<div class="user-bg">
    <section class="user">
        <h1>Playlist of <span> <%= user %></span> </h1>
    </section>
</div>

<section class="playlists">
    <div class="playlistnames">
        <% data.forEach(function(playlist){ %>
        <li class="albumName">
            <a class="getTracks" href="/playlists/<%= playlist.id %>/<%= playlist.owner.id %>">
                <h3><%= playlist.name %></h3>
                <img class="albumImage" src="<%= playlist.images[0].url %>">
            </a>
           <button class="unfollow" data-id="<%= playlist.id %>" data-user="<%= playlist.owner.id %>">unfollow</button>
        </li>
        <% }) %>
    </div>
</section>

<% include partials/footer.ejs %>